GCP_PROJECT_ID=mobile-growth-ai-dung-2026
GCP_LOCATION=US

GCS_RAW_BUCKET=mobile-growth-ai-dung-2026-raw

BQ_RAW_DATASET=raw
BQ_STAGING_DATASET=staging

SOURCE_GCP_PROJECT=firebase-public-project
SOURCE_BQ_DATASET=analytics_153293282
SOURCE_TABLE_PATTERN=events_*